# For the app.
pillow
numpy
pandas
scikit-learn
streamlit
streamlit-aggrid
joblib
xgboost
catboost
lightgbm
evalml


# For project.
# pprint
# tqdm

# numpy
# pandas

# category-encoders
# scikit-learn

# xgboost
# catboost
# lightgbm
# evalml
# autofeat
# lofo-importance

# tensorflow

# hyperopt

# optuna
# ray
# ray[tune]
